@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.csb-search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 5px 10px;
  gap: 6px;
}

.csb-search-form input[type="search"] {
  flex: 1;
  border: none;
  outline: none;
}

.csb-search-form select ,
.csb-search-form input[type="search"],
.csb-search-form button
{
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}